<div class="container">
    <h1>hi</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <img src="http://placehold.it/84" class="img-circle">
                    <br>
                    <br>
                    <h4>ชื่อจริง นามสกุล</h4>
                    <h4>รายละเอียดยิบย่อย</h4>
                </div>
            </div>
            <br>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Filter</h4>
                    <ul class="list-group">
                        <li class="list-group-item" style="border: 0px;">Item 1</li>
                        <li class="list-group-item" style="border: 0px;">Item 2</li>
                        <li class="list-group-item" style="border: 0px;">Item 3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h4>รายการ</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p align="left">เพศ: </p>
                            <p align="left">วันที่: &nbsp;xx&nbsp; ถึง วันที่: &nbsp;xx&nbsp; </p>
                            <p align="left">เขต:</p>
                        </div>
                        <div class="col-md-6">
                            <p align="left">สถานะ: </p>
                            <p align="left">ระยะเวลา:</p>
                        </div>
                        <div class="text-right">
                            <br>
                            <button type="button" class="btn btn-default">ยืนยัน</button>
                            <button type="button" class="btn btn-default">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-repeat="a in [1,2,3,4,5,6,7]">
                <div class="panel-body text-center text-muted">
                    <p>รายละเอียดการจ้างงาน เก่า ๆ</p>
                    <div class="col-md-6">
                        <p align="left">เพศ: </p>
                        <p align="left">วันที่: &nbsp;xx&nbsp; ถึง วันที่: &nbsp;xx&nbsp; </p>
                        <p align="left">Rating:</p>
                    </div>
                    <div class="col-md-6">
                        <p align="left">สถานะ: </p>
                        <p align="left">ระยะเวลา:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default" ng-repeat="a in [1,2,3,4]">
                <div class="panel-body">
                    <img src="http://placehold.it/128" class="img-responsive" alt="">
                    <br>
                    <button type="button" class="btn btn-default btn-block">Ads โฆษณา</button>
                </div>
            </div>
        </div>
    </div>
</div>
