<div class="jumbotron text-center">
	<div class="container">
		<h1>MEAN STACK</h1>
		<p>MongoDB ExpressJS AngularjS NodeJS</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<h1>Frontend Technology</h1>
		<br>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/angularjs-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">AngularJS</h2>
				<p><a href="https://angularjs.org/">AngularJS</a> is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/ui-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">UI Router</h2>
				<p><a href="https://angular-ui.github.io/bootstrap/">UI Router</a> is a routing framework for AngularJS, which allows you to organize the parts of your interface into a state machine.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/ui-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">UI Bootstrap</h2>
				<p><a href="http://angular-ui.github.io/ui-router/">UI Bootstrap</a> Bootstrap components written in pure AngularJS by the AngularUI Team</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/bootstrap-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">Bootstrap</h2>
				<p><a href="http://www.getbootstrap.com/">Bootstrap</a> makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/sass-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">Sass</h2>
				<p><a href="http://sass-lang.com">Sass</a> is an extension of CSS, adding nested rules, variables, mixins, and more. It's translated to well-formatted, standard CSS using the command line tool or a web-framework plugin.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<h1 class="text-center"> 
					<i class="fa fa-flag fa-lg" style="font-size: 174px; color: #1fa67a"></i>
				</h1>
				<hr />
				<h2 class="text-center">Font Awesome</h2>
				<p><a href="http://sass-lang.com">Font Awesome</a> gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Backend Technology</h1>
		<br>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/nodejs-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">NodeJS</h2>
				<p><a href="http://nodejs.org">Node.js®</a> is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/expressjs-logo.png" class="img-responsive center-block" style="margin: 38px auto;">
				<hr />
				<h2 class="text-center">ExpressJS</h2>
				<p><a href="http://expressjs.com/">Express</a> is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Database</h1>
		<br>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/mongodb-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">MongoDB</h2>
				<p><a href="https://www.mongodb.com/">MongoDB</a> is an open-source, document database designed for ease of development and scaling.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Build System</h1>
		<br>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/gulp-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">Gulp</h2>
				<p><a href="http://gulpjs.com/">Gulp</a> is a streaming build system, by using node’s streams file manipulation is all done in memory, and a file isn’t written until you tell it to do so.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Unit/E2E Testing</h1>
		<br>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/karma-logo.png" style="margin: 51px auto;" class="img-responsive center-block">
				<hr />
				<h2 class="text-center">Karma</h2>
				<p><a href="http://karma-runner.github.io">Karma</a> is essentially a tool which spawns a web server that executes source code against test code for each of the browsers connected.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/protractor-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">Protractor</h2>
				<p><a href="http://www.protractortest.org/">Protractor</a> is an end-to-end test framework for AngularJS applications. Protractor runs tests against your application running in a real browser, interacting with it as a user would.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/jasmine-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">Jasmine</h2>
				<p><a href="http://jasmine.github.io">Jasmine</a> is a behavior-driven development framework for testing JavIt does not require a DOM. And it has a clean, obvious syntax so that you can easily write tests.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Package Manager</h1>
		<br>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/bower-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">Bower</h2>
				<p><a href="http://www.bower.io/">Bower</a> works by fetching and installing packages from all over, taking care of hunting, finding, downloading, and saving the stuff you’re looking for.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/npm-logo.svg" style="margin: 25px auto;" class="img-responsive center-block">
				<hr />
				<h2 class="text-center">NPM</h2>
				<p><a href="http://www.npmjs.com/">npm</a> is the package manager for node, browser, javascript.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Others good stuff!</h1>
		<br>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/bs-logo.png" class="center-block" height="150">
				<hr />
				<h2 class="text-center">Browsersync</h2>
				<p><a href="http://www.browsersync.io/">Browsersync</a> is easily integrated with task runners like Grunt and Gulp and automatically updated as you change HTML, CSS, images and other project files.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-ui">
				<img src="app/core/images/jwt-logo.svg" class="center-block" height="150">
				<hr />
				<h2 class="text-center">JWT</h2>
				<p><a href="http://www.jwt.io/">JSON Web Token (JWT)</a> is a useful standard becoming more prevalent, because it sends information that can be verified and trusted with a digital signature. </p>
			</div>
		</div>
	</div>
</div>